In [1]:
import pandas as pd

Problem Statement: Considerig social and political instabilities that have occured in recent times, I want predict the likelihood of a coup d'etat within a country, given specific economic, political and social factors.

Currently, I'm working on these following characteristics as my features:

Economic
- Real GDP Per Capita
- Inflation
- Economic growth
- Poverty Rate


Social
- Account of ethinic violence
- Number of ethnic groups in each country
- Number of religious groups in each country
- Number or borgering countries in each country
- Fatalities that occured from ethnic or revolutionary violence
- urbanization

Politcal
- Polity score 
- Length of term of head of state (or equivalent) for each country
- Political party fractionalization


*I'm still in the process of collecting all the necessary features

In [2]:
coup = pd.read_csv("../assets/csv/Coups.csv")

In [3]:
coup.head()

       country  year  scoup1  atcoup2
0  Afghanistan  1955       0        0
1  Afghanistan  1956       0        0
2  Afghanistan  1957       0        0
3  Afghanistan  1958       0        0
4  Afghanistan  1959       0        0

In [4]:
coup["coup"] = coup["scoup1"] + coup["atcoup2"]

In [5]:
coupbin = []
for i in coup["coup"].tolist():
    if i > 0:
        coupbin.append(1)
    if i == 0:
        coupbin.append(0)
coup["Coup"] = coupbin

In [6]:
coup.drop(["scoup1", "atcoup2", "coup"], axis=1, inplace=True)

In [7]:
coup.head()

       country  year  Coup
0  Afghanistan  1955     0
1  Afghanistan  1956     0
2  Afghanistan  1957     0
3  Afghanistan  1958     0
4  Afghanistan  1959     0

Variable | Description
--|--
country | Country name
year | Year of annual record
scoup1 | Successful Coups: Number of successful coups d’état that occurred in the year of record	
atcoup2 | Attempted Coups: Number of attempted (but ultimately unsuccessful) coups d’état that occurred in the year of record

In [8]:
coup.shape

(8748, 3)

In [9]:
stab = pd.read_csv("../assets/csv/Politicalinstability2.csv")

In [10]:
stab.head()

,COUNTRY,YEAR,PTYPE,GENDEATHMAG,ETHMAGFATAL,ETHMAGFIGHT,REVMAGFATAL,REVMAGFIGHT
0,Afghanistan,1955,0,0.0,0,0,0,0
1,Afghanistan,1956,0,0.0,0,0,0,0
2,Afghanistan,1957,0,0.0,0,0,0,0
3,Afghanistan,1958,0,0.0,0,0,0,0
4,Afghanistan,1959,0,0.0,0,0,0,0

In [11]:
stab.shape

(5162, 8)

In [12]:
dummies = pd.get_dummies(stab["PTYPE"])
stab = stab[["COUNTRY", "YEAR", "GENDEATHMAG", "ETHMAGFATAL", 
             "ETHMAGFIGHT", "REVMAGFATAL", "REVMAGFIGHT"]].join(dummies)
stab.columns = ["COUNTRY", "YEAR", "GENDEATHMAG", "ETHMAGFATAL", 
                "ETHMAGFIGHT", "REVMAGFATAL", "REVMAGFIGHT", "NONE",
                "ETH", "REV", "GEN"]

In [13]:
aggMap = { "NONE" : "sum", "ETH" : "sum", "REV" : "sum", 
           "GEN" : "sum", "GENDEATHMAG" : "sum", 
           "ETHMAGFATAL" : "sum", "ETHMAGFIGHT" : "sum", 
           "REVMAGFATAL" : "sum", "REVMAGFIGHT" : "sum" }

stabGrouped = stab.groupby(["COUNTRY","YEAR"]).agg(aggMap).reset_index()

In [14]:
stabGrouped.shape

(4741, 11)

In [15]:
stabGrouped.head()

,COUNTRY,YEAR,NONE,REVMAGFIGHT,GENDEATHMAG,ETHMAGFATAL,REVMAGFATAL,ETH,ETHMAGFIGHT,REV,GEN
0,Afghanistan,1955,1.0,0,0.0,0,0,0.0,0,0.0,0.0
1,Afghanistan,1956,1.0,0,0.0,0,0,0.0,0,0.0,0.0
2,Afghanistan,1957,1.0,0,0.0,0,0,0.0,0,0.0,0.0
3,Afghanistan,1958,1.0,0,0.0,0,0,0.0,0,0.0,0.0
4,Afghanistan,1959,1.0,0,0.0,0,0,0.0,0,0.0,0.0

In [16]:
coup1 = coup.merge(stab, how="inner", left_on=["country", "year"], right_on=["COUNTRY", "YEAR"])

In [17]:
coup1.drop(["COUNTRY", "YEAR"], axis=1, inplace=True)
coup1.columns = map(str.lower, coup1.columns)

In [18]:
coup1.head()

,country,year,coup,gendeathmag,ethmagfatal,ethmagfight,revmagfatal,revmagfight,none,eth,rev,gen
0,Afghanistan,1955,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0
1,Afghanistan,1956,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0
2,Afghanistan,1957,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0
3,Afghanistan,1958,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0
4,Afghanistan,1959,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0

In [19]:
coup1.isnull().values.any()

False

In [20]:
coup1.count()

country        4346
year           4346
coup           4346
gendeathmag    4346
ethmagfatal    4346
ethmagfight    4346
revmagfatal    4346
revmagfight    4346
none           4346
eth            4346
rev            4346
gen            4346
dtype: int64

In [21]:
coup1.shape

(4346, 12)

Variable | Description
--|--
COUNTRY | Country name
YEAR | Year of record
PTYPE | Event type (1=ETH; 2=REV; 3=REG; 4=GEN)
GENDEATHMAG | Scaled annual number of deaths (range 0-5.0)
ETHMAGFIGHT | Scaled number of rebel combatants or activists in ethnic war (range 0-4; 9=missing)
ETHMAGFATAL | Scaled annual number of fatalities related to ethnic fighting (range 0-4; 9=missing)
REVMAGFATAL | Scaled number of rebel combatants or activists in revolutionary war (range 0-4; 9=missing)
REVMAGFIGHT | Scaled annual number of fatalities related to revolutionary fighting (range 0-4; 9=missing)

In [22]:
polity = pd.read_csv("../assets/csv/polity.csv")

In [23]:
polity.head()

       country  year  flag  fragment  democ  autoc  polity  polity2  durable
0  Afghanistan  1940     0       NaN      0      8      -8     -8.0      NaN
1  Afghanistan  1941     0       NaN      0      8      -8     -8.0      NaN
2  Afghanistan  1942     0       NaN      0      8      -8     -8.0      NaN
3  Afghanistan  1943     0       NaN      0      8      -8     -8.0      NaN
4  Afghanistan  1944     0       NaN      0      8      -8     -8.0      NaN

In [24]:
polity.drop(["flag", "fragment"], axis=1, inplace=True)

In [25]:
polity.shape

(9876, 7)

Variable | Description
--|--
country | Country name
year | Year of record
flag | Event type (1=ETH; 2=REV; 3=REG; 4=GEN)
fragment | Political Fragmentation
democ | Democracy indicator (range 0-10;)
autoc | Autocracy scale (range 0-10; 9=missing)
polity | Scaled annual number of fatalities related to revolutionary fighting (range 0-4; 9=missing)
polity2 | Combined Polity Score: The POLITY score is computed by subtracting the AUTOC score from the DEMOC score; the resulting unified polity scale ranges from +10 (strongly democratic) to -10 (strongly autocratic).
durable | Revised Combined Polity Score: This variable is a modified version of the POLITY variable added in order to facilitate the use of the POLITY regime measure in time-series analyses. It modifies the combined annual POLITY score by applying a simple treatment, or ““fix,” to convert instances of “standardized authority scores” (i.e., -66, -77, and -88) to conventional polity scores (i.e., within the range, -10 to +10)



NOTE:
- -66 Cases of foreign “interruption” are treated as “system missing.”
- -77 Cases of “interregnum,” or anarchy, are converted to a “neutral”
Polity score of “0.”
- -88 Cases of “transition” are prorated across the span of the transition.
For example, country X has a POLITY score of -7 in 1957, followed
by three years of -88 and, finally, a score of +5 in 1961. The change
(+12) would be prorated over the intervening three years at a rate of
per year, so that the converted scores would be as follows: 1957 -7;
1958 -4; 1959 -1; 1960 +2; and 1961 +5

In [26]:
coup2 = coup1.merge(polity, how="inner", left_on=["country", "year"], right_on=["country", "year"])

In [27]:
coup2.head()

,country,year,coup,gendeathmag,ethmagfatal,ethmagfight,revmagfatal,revmagfight,none,eth,rev,gen,democ,autoc,polity,polity2,durable
0,Afghanistan,1955,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,0,10,-10,-10.0,NaN
1,Afghanistan,1956,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,0,10,-10,-10.0,NaN
2,Afghanistan,1957,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,0,10,-10,-10.0,NaN
3,Afghanistan,1958,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,0,10,-10,-10.0,NaN
4,Afghanistan,1959,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,0,10,-10,-10.0,NaN

In [28]:
coup2.count()

country        4348
year           4348
coup           4348
gendeathmag    4348
ethmagfatal    4348
ethmagfight    4348
revmagfatal    4348
revmagfight    4348
none           4348
eth            4348
rev            4348
gen            4348
democ          4348
autoc          4348
polity         4348
polity2        4237
durable        4337
dtype: int64

In [29]:
coup2.drop(["democ", "autoc", "polity"], axis=1, inplace=True)

In [30]:
#coup2["polity2"].fillna(0, inplace=True)

In [31]:
coup2.iloc[:,:12].isnull().values.any()

False

In [32]:
coup2.head()

,country,year,coup,gendeathmag,ethmagfatal,ethmagfight,revmagfatal,revmagfight,none,eth,rev,gen,polity2,durable
0,Afghanistan,1955,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN
1,Afghanistan,1956,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN
2,Afghanistan,1957,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN
3,Afghanistan,1958,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN
4,Afghanistan,1959,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN

In [33]:
leaders = pd.read_csv("../assets/csv/leaders.csv")

In [34]:
leaders.head()

       country  year  yip
0  Afghanistan  1946   13
1  Afghanistan  1947   14
2  Afghanistan  1948   15
3  Afghanistan  1949   16
4  Afghanistan  1950   17

In [35]:
coup2.shape

(4348, 14)

In [36]:
leaders.shape

(9451, 3)

In [37]:
coup3 = coup2.merge(leaders, how="inner", left_on=["country", "year"], right_on=["country", "year"])

In [38]:
# with pd.option_context('display.max_rows', 9999, 'display.max_columns', 15):
#     print coup3

In [39]:
coup3.head()

,country,year,coup,gendeathmag,ethmagfatal,ethmagfight,revmagfatal,revmagfight,none,eth,rev,gen,polity2,durable,yip
0,Afghanistan,1955,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,22
1,Afghanistan,1956,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,23
2,Afghanistan,1957,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,24
3,Afghanistan,1958,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,25
4,Afghanistan,1959,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,26

In [40]:
coup3.shape

(4351, 15)

In [41]:
urban = pd.read_csv("../assets/csv/urbanpop.csv")

In [42]:
urban.columns = map(str.lower, urban.columns)

In [43]:
urban.head()

,country name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,50.78,50.76,50.75,50.73,50.72,50.70,50.69,50.67,50.65,...,44.51,44.15,43.78,43.42,43.06,42.70,42.36,42.06,41.78,41.53
1,Andorra,58.45,60.98,63.46,65.87,68.21,70.45,72.59,74.64,76.59,...,89.84,89.36,88.87,88.35,87.82,87.26,86.71,86.17,85.63,85.12
2,Afghanistan,8.22,8.51,8.81,9.11,9.43,9.75,10.09,10.43,10.79,...,23.24,23.59,23.95,24.31,24.69,25.07,25.47,25.87,26.28,26.70
3,Angola,10.44,10.80,11.20,11.62,12.06,12.50,12.97,13.44,13.93,...,36.94,37.72,38.51,39.30,40.10,40.90,41.70,42.49,43.27,44.05
4,Albania,30.71,30.94,31.02,31.09,31.16,31.23,31.30,31.37,31.45,...,47.82,48.90,49.99,51.08,52.16,53.25,54.33,55.38,56.41,57.41

The table above shows the percentage of the total population living in urban areas, for each country from 1960 to 2015.

In [44]:
Col1 = urban.columns[0]
Col2 = urban.columns[1:].tolist()
urban1 = pd.melt(urban, id_vars=(Col1), var_name="year", value_vars=(Col2), value_name="urbanpop")
urban1.sort_values(["country name", "year"], inplace=True)

In [45]:
urban1.head()

     country name  year  urbanpop
2     Afghanistan  1960      8.22
264   Afghanistan  1961      8.51
526   Afghanistan  1962      8.81
788   Afghanistan  1963      9.11
1050  Afghanistan  1964      9.43

In [46]:
gdp = pd.read_csv("../assets/csv/Realpercapitagdp.csv")

In [47]:
gdp.columns = map(str.lower, gdp.columns)

In [48]:
gdp.head()

,country name,1969,1970,1971,1972,1973,1974,1975,1976,1977,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,$283,$287,$291,$294,$297,$300,$302,$304,$305,...,$380,$428,$438,$516,$547,$568,$636,$634,$632,$624
1,Albania,"$1,873","$1,881","$1,893","$1,905","$1,936","$1,951","$1,967","$1,984","$2,001",...,"$3,251","$3,459","$3,729","$3,856","$3,993","$4,084","$4,139","$4,186","$4,253","$4,541"
2,Algeria,"$2,671","$2,823","$2,433","$3,011","$3,036","$3,168","$3,228","$3,394","$3,465",...,"$4,345","$4,416","$4,424","$4,412","$4,484","$4,521","$4,581","$4,620","$4,720","$4,794"
3,Angola,"$3,185","$3,172","$3,141","$3,112","$3,089","$3,154","$3,251","$3,260","$3,182",...,"$3,671","$4,371","$4,836","$4,814","$4,839","$4,885","$4,991","$5,184","$5,239","$4,153"
4,Antigua and Barbuda,"$3,321","$3,413","$3,530","$3,656","$3,794","$3,950","$4,119","$4,288","$4,467",...,"$15,408","$16,652","$16,448","$14,281","$13,089","$12,689","$13,031","$12,857","$13,106","$13,681"

The gdp table shows the real per capita GDP of each country from 1969 to 2015.

In [49]:
Col3 = gdp.columns[0]
Col4 = gdp.columns[1:].tolist()
gdp1 = pd.melt(gdp, id_vars=(Col3), var_name="year", value_vars=(Col4), value_name="gdppercap")
gdp1.sort_values(["country name", "year"], inplace=True)

In [50]:
gdp1.head()

    country name  year gdppercap
0    Afghanistan  1969      $283
190  Afghanistan  1970      $287
380  Afghanistan  1971      $291
570  Afghanistan  1972      $294
760  Afghanistan  1973      $297

In [51]:
gdp1['gdppercap'] = gdp1['gdppercap'].str.replace('$', '')
gdp1['gdppercap'] = gdp1['gdppercap'].str.replace(',', '')

In [52]:
gdp1['gdppercap'] = gdp1['gdppercap'].convert_objects(convert_numeric=True)

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [53]:
gdp1.dtypes

country name     object
year             object
gdppercap       float64
dtype: object

In [54]:
gdp1.head()

    country name  year  gdppercap
0    Afghanistan  1969      283.0
190  Afghanistan  1970      287.0
380  Afghanistan  1971      291.0
570  Afghanistan  1972      294.0
760  Afghanistan  1973      297.0

In [55]:
growth = pd.read_csv("../assets/csv/GDPgrowth.csv")

In [56]:
growth.columns = map(str.lower, growth.columns)

In [57]:
growth.head()

,country name,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,..,..,..,..,..,..,..,..,..,...,5.55,13.74,3.61,21.02,8.43,6.11,14.43,1.96,1.31,1.52
1,Albania,..,..,..,..,..,..,..,..,..,...,5.43,5.9,7.53,3.35,3.71,2.55,1.42,1.11,2,2.56
2,Algeria,-13.61,-19.69,34.31,5.84,6.21,-4.8,9.45,10.8,8.43,...,1.7,3.4,2.4,1.6,3.6,2.9,3.4,2.8,3.8,3.9
3,American Samoa,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,..,..,..,..,..,..,..,..,..,...,4.59,0.08,-8.59,-3.82,-5.35,-4.8,-1.76,-0.06,..,..

In [58]:
Col5 = growth.columns[0]
Col6 = growth.columns[1:].tolist()
growth1 = pd.melt(growth, id_vars=(Col5), var_name="year", value_vars=(Col6), value_name="gdpgrowth")
growth1.sort_values(["country name", "year"], inplace=True)

In [59]:
growth1.head()

    country name  year gdpgrowth
0    Afghanistan  1961        ..
217  Afghanistan  1962        ..
434  Afghanistan  1963        ..
651  Afghanistan  1964        ..
868  Afghanistan  1965        ..

In [60]:
growth1['gdpgrowth'] = growth1['gdpgrowth'].convert_objects(convert_numeric=True)

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [61]:
growth1.dtypes

country name     object
year             object
gdpgrowth       float64
dtype: object

In [62]:
growth1.head()

    country name  year  gdpgrowth
0    Afghanistan  1961        NaN
217  Afghanistan  1962        NaN
434  Afghanistan  1963        NaN
651  Afghanistan  1964        NaN
868  Afghanistan  1965        NaN

In [114]:
#growth1["gdpgrowth"].value_counts()

In [64]:
Econ = gdp1.merge(growth1, how="inner", left_on=["country name", "year"], right_on=["country name", "year"])

In [65]:
Econ1 = Econ.merge(urban1, how="inner", left_on=["country name", "year"], right_on=["country name", "year"])

In [66]:
Econ1.head()

  country name  year  gdppercap  gdpgrowth  urbanpop
0  Afghanistan  1969      283.0        NaN     11.15
1  Afghanistan  1970      287.0        NaN     11.53
2  Afghanistan  1971      291.0        NaN     11.92
3  Afghanistan  1972      294.0        NaN     12.32
4  Afghanistan  1973      297.0        NaN     12.73

In [83]:
coup3.head()

,country,year,coup,gendeathmag,ethmagfatal,ethmagfight,revmagfatal,revmagfight,none,eth,rev,gen,polity2,durable,yip
0,Afghanistan,1955,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,22
1,Afghanistan,1956,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,23
2,Afghanistan,1957,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,24
3,Afghanistan,1958,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,25
4,Afghanistan,1959,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-10.0,NaN,26

In [84]:
coup3.shape

(4351, 15)

In [104]:
#coup3.tolist

In [107]:
Econ1.columns = ["country", "year", "gdppercap", "gdpgrowth", "urbanpop"]

In [108]:
Econ1.head()

       country  year  gdppercap  gdpgrowth  urbanpop
0  Afghanistan  1969      283.0        NaN     11.15
1  Afghanistan  1970      287.0        NaN     11.53
2  Afghanistan  1971      291.0        NaN     11.92
3  Afghanistan  1972      294.0        NaN     12.32
4  Afghanistan  1973      297.0        NaN     12.73

In [121]:
Econ1["year"] = Econ1["year"].convert_objects(convert_numeric=True)

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [122]:
Econ1["year"].astype(int)

0       1969
1       1970
2       1971
3       1972
4       1973
5       1974
6       1975
7       1976
8       1977
9       1978
10      1979
11      1980
12      1981
13      1982
14      1983
15      1984
16      1985
17      1986
18      1987
19      1988
20      1989
21      1990
22      1991
23      1992
24      1993
25      1994
26      1995
27      1996
28      1997
29      1998
        ...
7114    1986
7115    1987
7116    1988
7117    1989
7118    1990
7119    1991
7120    1992
7121    1993
7122    1994
7123    1995
7124    1996
7125    1997
7126    1998
7127    1999
7128    2000
7129    2001
7130    2002
7131    2003
7132    2004
7133    2005
7134    2006
7135    2007
7136    2008
7137    2009
7138    2010
7139    2011
7140    2012
7141    2013
7142    2014
7143    2015
Name: year, dtype: int64

In [124]:
Econ1.dtypes

country       object
year           int64
gdppercap    float64
gdpgrowth    float64
urbanpop     float64
dtype: object

In [125]:
DF = Econ1.merge(coup3, how="inner", left_on=["country", "year"], right_on=["country", "year"])

In [129]:
DF.head()

,country,year,gdppercap,gdpgrowth,urbanpop,coup,gendeathmag,ethmagfatal,ethmagfight,revmagfatal,revmagfight,none,eth,rev,gen,polity2,durable,yip
0,Afghanistan,1969,283.0,NaN,11.15,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-7.0,5.0,36
1,Afghanistan,1970,287.0,NaN,11.53,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-7.0,6.0,37
2,Afghanistan,1971,291.0,NaN,11.92,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-7.0,7.0,38
3,Afghanistan,1972,294.0,NaN,12.32,0,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-7.0,8.0,39
4,Afghanistan,1973,297.0,NaN,12.73,1,0.0,0,0,0,0,1.0,0.0,0.0,0.0,-7.0,9.0,40

In [127]:
DF.count()

country        3033
year           3033
gdppercap      2921
gdpgrowth      2699
urbanpop       3033
coup           3033
gendeathmag    3033
ethmagfatal    3033
ethmagfight    3033
revmagfatal    3033
revmagfight    3033
none           3033
eth            3033
rev            3033
gen            3033
polity2        2975
durable        3033
yip            3033
dtype: int64

In [137]:
path = "../assets/csv/diversity.csv"
import csv

def read_file(path):
    with open(path, 'r') as f:
        diversity = [row for row in csv.reader(f.read().splitlines())]
    return data

diversity = read_file(path)
diversity = diversity[1:]
print diversity

[['Afghanistan', '0.7693', '0.6141', '0.2717'], ['Albania', '0.2204', '0.0399', '0.4719'], ['Algeria', '0.3394', '0.4427', '0.0091'], ['American Samoa', '0.0000', '0.1733', '0.6395'], ['Andorra', '0.7139', '0.6848', '0.2326'], ['Angola', '0.7867', '0.7870', '0.6276'], ['Antigua and Barbuda', '0.1643', '0.1063', '0.6840'], ['Argentina', '0.2550', '0.0618', '0.2236'], ['Armenia', '0.1272', '0.1291', '0.4576'], ['Aruba', '0.0000', '0.3889', '0.4107'], ['Australia', '0.0929', '0.3349', '0.8211'], ['Austria', '0.1068', '0.1522', '0.4146'], ['Azerbaijan', '0.2047', '0.2054', '0.4899'], ['Bahamas', '0.4228', '0.1855', '0.6815'], ['Bahrain', '0.5021', '0.4344', '0.5528'], ['Bangladesh', '0.0454', '0.0925', '0.2090'], ['Barbados', '0.1423', '0.0926', '0.6934'], ['Belarus', '0.3222', '0.4666', '0.6116'], ['Belgium', '0.5554', '0.5409', '0.2127'], ['Belize', '0.7015', '0.6303', '0.5813'], ['Benin', '0.7872', '0.7905', '0.5544'], ['Bermuda', '0.0000', '0.0000', '0.7112'], ['Bhutan', '0.6050', '0.6056', '0.3787'], ['Bolivia', '0.7396', '0.2240', '0.2085'], ['Bosnia and Herzegovina', '0.6300', '0.6751', '0.6851'], ['Botswana', '0.4102', '0.4110', '0.5986'], ['Brazil', '0.5408', '0.0468', '0.6054'], ['Brunei', '0.5416', '0.3438', '0.4404'], ['Bulgaria', '0.4021', '0.3031', '0.5965'], ['Burkina Faso', '0.7377', '0.7228', '0.5798'], ['Burundi', '0.2951', '0.2977', '0.5158'], ['Cambodia', '0.2105', '0.2104', '0.0965'], ['Cameroon', '0.8635', '0.8898', '0.7338'], ['Canada', '0.7124', '0.5772', '0.6958'], ['Cape Verde', '0.4174', '0.0000', '0.0766'], ['Central African Republic', '0.8295', '0.8334', '0.7916'], ['Chad', '0.8620', '0.8635', '0.6411'], ['Chile', '0.1861', '0.1871', '0.3841'], ['China', '0.1538', '0.1327', '0.6643'], ['Colombia', '0.6014', '0.0193', '0.1478'], ['Comoros', '0.0000', '0.0103', '0.0137'], ['Democratic Republic of Congo', '0.8747', '0.8705', '0.7021'], ['Congo', '0.8747', '0.6871', '0.6642'], ['Costa Rica', '0.2368', '0.0489', '0.2410'], ['Ivory Coast', '0.8204', '0.7842', '0.7551'], ['Croatia', '0.3690', '0.0763', '0.4447'], ['Cuba', '0.5908', '0.0000', '0.5059'], ['Cyprus', '0.0939', '0.3962', '0.3962'], ['Czech Republic', '0.3222', '0.3233', '0.6591'], ['Denmark', '0.0819', '0.1049', '0.2333'], ['Djibouti', '0.7962', '0.6558', '0.0435'], ['Dominica', '0.2003', '0.0000', '0.4628'], ['Dominican Republic', '0.4294', '0.0395', '0.3118'], ['East Timor', '0.0000', '0.5261', '0.4254'], ['Ecuador', '0.6550', '0.1308', '0.1417'], ['Egypt', '0.1836', '0.0237', '0.1979'], ['El Salvador', '0.1978', '0.0000', '0.3559'], ['Equatorial Guinea', '0.3467', '0.3220', '0.1195'], ['Eritrea', '0.6524', '0.6530', '0.4253'], ['Estonia', '0.5062', '0.4944', '0.4985'], ['Ethiopia', '0.7235', '0.8073', '0.6249'], ['Faroe Islands', '0.0000', '0.0000', '0.3147'], ['Fiji', '0.5479', '0.5479', '0.5682'], ['Finland', '0.1315', '0.1412', '0.2531'], ['France', '0.1032', '0.1221', '0.4029'], ['French Guiana', '0.0000', '0.1154', '0.4959'], ['French Polynesia', '0.0000', '0.6078', '0.5813'], ['Gabon', '0.7690', '0.7821', '0.6674'], ['Gambia, The', '0.7864', '0.8076', '0.0970'], ['Gaza Strip', '0.0000', '0.0104', '0.0342'], ['Georgia', '0.4923', '0.4749', '0.6543'], ['Germany', '0.1682', '0.1642', '0.6571'], ['Ghana', '0.6733', '0.6731', '0.7987'], ['Greece', '0.1576', '0.0300', '0.1530'], ['Greenland', '0.0000', '0.2188', '0.4592'], ['Grenada', '0.2661', '0.0000', '0.5898'], ['Guadeloupe', '0.0000', '0.0933', '0.3069'], ['Guam', '0.0000', '0.7320', '0.4082'], ['Guatemala', '0.5122', '0.4586', '0.3753'], ['Guinea', '0.7389', '0.7725', '0.2649'], ['Guinea-Bissau', '0.8082', '0.8141', '0.6128'], ['Guyana', '0.6195', '0.0688', '0.7876'], ['Haiti', '0.0950', '0.0000', '0.4704'], ['Honduras', '0.1867', '0.0553', '0.2357'], ['Hong Kong', '0.0620', '0.2128', '0.4191'], ['Hungary', '0.1522', '0.0297', '0.5244'], ['Iceland', '0.0798', '0.0820', '0.1913'], ['India', '0.4182', '0.8069', '0.3260'], ['Indonesia', '0.7351', '0.7680', '0.2340'], ['Iran', '0.6684', '0.7462', '0.1152'], ['Iraq', '0.3689', '0.3694', '0.4844'], ['Ireland', '0.1206', '0.0312', '0.1550'], ['Isle of Man', '0.0000', '0.0000', '0.4729'], ['Israel', '0.3436', '0.5525', '0.3469'], ['Italy', '0.1145', '0.1147', '0.3027'], ['Jamaica', '0.4129', '0.1098', '0.6160'], ['Japan', '0.0119', '0.0178', '0.5406'], ['Jersey', '0.0000', '0.0000', '0.5479'], ['Jordan', '0.5926', '0.0396', '0.0659'], ['Kazakhstan', '0.6171', '0.6621', '0.5898'], ['Kenya', '0.8588', '0.8860', '0.7765'], ['Kiribati', '0.0511', '0.0237', '0.5541'], ['Korea, South', '0.0392', '0.0028', '0.4891'], ['Korea, North', '0.0020', '0.0021', '0.6604'], ['Kyrgyzstan', '0.6752', '0.5949', '0.4470'], ['Kuwait', '0.6604', '0.3444', '0.6745'], ['Laos', '0.5139', '0.6382', '0.5453'], ['Latvia', '0.5867', '0.5795', '0.5556'], ['Lebanon', '0.1314', '0.1312', '0.7886'], ['Lesotho', '0.2550', '0.2543', '0.7211'], ['Liberia', '0.9084', '0.9038', '0.4883'], ['Libya', '0.7920', '0.0758', '0.0570'], ['Liechtenstein', '0.5726', '0.2246', '0.3343'], ['Lithuania', '0.3223', '0.3219', '0.4141'], ['Luxembourg', '0.5302', '0.6440', '0.0911'], ['Macau', '0.0000', '0.2519', '0.5511'], ['Macedonia', '0.5023', '0.5021', '0.5899'], ['Madagascar', '0.8791', '0.0204', '0.5191'], ['Malawi', '0.6744', '0.6023', '0.8192'], ['Malaysia', '0.5880', '0.5970', '0.6657'], ['Mali', '0.6906', '0.8388', '0.1820'], ['Malta', '0.0414', '0.0907', '0.1223'], ['Marshall Islands', '0.0603', '0.0734', '0.5207'], ['Martinique', '0.0000', '0.0000', '0.2336'], ['Mauritania', '0.6150', '0.3260', '0.0149'], ['Mauritius', '0.4634', '0.4547', '0.6385'], ['Mayotte', '0.0000', '0.7212', '0.0620'], ['Mexico', '0.5418', '0.1511', '0.1796'], ['Micronesia', '0.7005', '0.7483', '0.6469'], ['Moldova', '0.5535', '0.5533', '0.5603'], ['Monaco', '0.6838', '0.7305', '0.3047'], ['Mongolia', '0.3682', '0.3734', '0.0799'], ['Morocco', '0.4841', '0.4683', '0.0035'], ['Mozambique', '0.6932', '0.8125', '0.6759'], ['Burma', '0.5062', '0.5072', '0.1974'], ['Namibia', '0.6329', '0.7005', '0.6626'], ['Nauru', '0.5832', '0.6161', '0.6194'], ['Nepal', '0.6632', '0.7167', '0.1417'], ['Netherlands Antilles', '0.0000', '0.2508', '0.3866'], ['Netherlands', '0.1054', '0.5143', '0.7222'], ['New Caledonia', '0.0000', '0.6633', '0.5462'], ['New Zealand', '0.3969', '0.1657', '0.8110'], ['Nicaragua', '0.4844', '0.0473', '0.4290'], ['Niger', '0.6518', '0.6519', '0.2013'], ['Nigeria', '0.8505', '0.8316', '0.7421'], ['Northern Mariana Islands', '0.0000', '0.7754', '0.4811'], ['Norway', '0.0586', '0.0673', '0.2048'], ['Oman', '0.4373', '0.3567', '0.4322'], ['Pakistan', '0.7098', '0.7190', '0.3848'], ['Palau', '0.4312', '0.3157', '0.7147'], ['Panama', '0.5528', '0.3873', '0.3338'], ['Papua New Guinea', '0.2718', '0.3526', '0.5523'], ['Paraguay', '0.1689', '0.5975', '0.2123'], ['Peru', '0.6566', '0.3358', '0.1988'], ['Philippines', '0.2385', '0.8360', '0.3056'], ['Poland', '0.1183', '0.0468', '0.1712'], ['Portugal', '0.0468', '0.0198', '0.1438'], ['Puerto Rico', '0.0000', '0.0352', '0.4952'], ['Qatar', '0.7456', '0.4800', '0.0950'], ['Reunion', '0.0000', '0.1578', '0.1952'], ['Romania', '0.3069', '0.1723', '0.2373'], ['Russian Federation', '0.2452', '0.2485', '0.4398'], ['Rwanda', '0.3238', '0.0000', '0.5066'], ['Saint Lucia', '0.1769', '0.3169', '0.3320'], ['Saint Vincent and the Grenadines', '0.3066', '0.0175', '0.7028'], ['Western Samoa', '0.1376', '0.0111', '0.7871'], ['San Marino', '0.2927', '0.0000', '0.1975'], ['Sao Tome and Principe', '0.0000', '0.2322', '0.1866'], ['Saudi Arabia', '0.1800', '0.0949', '0.1270'], ['Senegal', '0.6939', '0.7081', '0.1497'], ['Serbia', '0.5736', '0.0000', '0.0000'], ['Seychelles', '0.2025', '0.1606', '0.2323'], ['Sierra Leone', '0.8191', '0.7634', '0.5395'], ['Singapore', '0.3857', '0.3835', '0.6561'], ['Slovak Republic', '0.2539', '0.2551', '0.5655'], ['Slovenia', '0.2216', '0.2201', '0.2868'], ['Solomon Islands', '0.1110', '0.5254', '0.6708'], ['Somalia', '0.8117', '0.0326', '0.0028'], ['South Africa', '0.7517', '0.8652', '0.8603'], ['Spain', '0.4165', '0.4132', '0.4514'], ['Sri Lanka', '0.4150', '0.4645', '0.4853'], ['Saint Kitts and Nevis', '0.1842', '0.0000', '0.6614'], ['Sudan', '0.7147', '0.7190', '0.4307'], ['Suriname', '0.7332', '0.3310', '0.7910'], ['Swaziland', '0.0582', '0.1722', '0.4444'], ['Sweden', '0.0600', '0.1968', '0.2342'], ['Switzerland', '0.5314', '0.5441', '0.6083'], ['Syria', '0.5399', '0.1817', '0.4310'], ['Taiwan', '0.2744', '0.5028', '0.6845'], ['Tajikistan', '0.5107', '0.5473', '0.3386'], ['Tanzania', '0.7353', '0.8983', '0.6334'], ['Thailand', '0.6338', '0.6344', '0.0994'], ['Togo', '0.7099', '0.8980', '0.6596'], ['Tonga', '0.0869', '0.3782', '0.6214'], ['Trinidad and Tobago', '0.6475', '0.1251', '0.7936'], ['Tunisia', '0.0394', '0.0124', '0.0104'], ['Turkey', '0.3200', '0.2216', '0.0049'], ['Turkmenistan', '0.3918', '0.3984', '0.2327'], ['Tuvalu', '0.1629', '0.1372', '0.2524'], ['Uganda', '0.9302', '0.9227', '0.6332'], ['Ukraine', '0.4737', '0.4741', '0.6157'], ['United Arab Emirates', '0.6252', '0.4874', '0.3310'], ['United Kingdom', '0.1211', '0.0532', '0.6944'], ['United States', '0.4901', '0.5647', '0.8241'], ['Uruguay', '0.2504', '0.0817', '0.3548'], ['Uzbekistan', '0.4125', '0.4120', '0.2133'], ['Vanuatu', '0.0413', '0.5794', '0.7044'], ['Venezuela', '0.4966', '0.0686', '0.1350'], ['Vietnam', '0.2383', '0.2377', '0.5080'], ['United States Virgin Islands', '0.0000', '0.3140', '0.6359'], ['West Bank', '0.0000', '0.1438', '0.3095'], ['Yemen', '0.0000', '0.0080', '0.0023'], ['Yugoslavia', '0.8092', '0.6064', '0.5530'], ['Zambia', '0.7808', '0.8734', '0.7359'], ['Zimbabwe', '0.3874', '0.4472', '0.7363']]

In [139]:
def function(i):return (i[0], i[1:])
state_dict = map(function, diversity)
myNewDict = dict(state_dict)
print myNewDict

{'Canada': ['0.7124', '0.5772', '0.6958'], 'East Timor': ['0.0000', '0.5261', '0.4254'], 'Sao Tome and Principe': ['0.0000', '0.2322', '0.1866'], 'Turkmenistan': ['0.3918', '0.3984', '0.2327'], 'Democratic Republic of Congo': ['0.8747', '0.8705', '0.7021'], 'Lithuania': ['0.3223', '0.3219', '0.4141'], 'Cambodia': ['0.2105', '0.2104', '0.0965'], 'Switzerland': ['0.5314', '0.5441', '0.6083'], 'Ethiopia': ['0.7235', '0.8073', '0.6249'], 'Aruba': ['0.0000', '0.3889', '0.4107'], 'Swaziland': ['0.0582', '0.1722', '0.4444'], 'Argentina': ['0.2550', '0.0618', '0.2236'], 'Bolivia': ['0.7396', '0.2240', '0.2085'], 'Cameroon': ['0.8635', '0.8898', '0.7338'], 'Burkina Faso': ['0.7377', '0.7228', '0.5798'], 'Ghana': ['0.6733', '0.6731', '0.7987'], 'Saudi Arabia': ['0.1800', '0.0949', '0.1270'], 'Japan': ['0.0119', '0.0178', '0.5406'], 'Cape Verde': ['0.4174', '0.0000', '0.0766'], 'Northern Mariana Islands': ['0.0000', '0.7754', '0.4811'], 'Slovenia': ['0.2216', '0.2201', '0.2868'], 'Guatemala': ['0.5122', '0.4586', '0.3753'], 'Zimbabwe': ['0.3874', '0.4472', '0.7363'], 'Bosnia and Herzegovina': ['0.6300', '0.6751', '0.6851'], 'Kuwait': ['0.6604', '0.3444', '0.6745'], 'Russian Federation': ['0.2452', '0.2485', '0.4398'], 'Jordan': ['0.5926', '0.0396', '0.0659'], 'Dominica': ['0.2003', '0.0000', '0.4628'], 'Liberia': ['0.9084', '0.9038', '0.4883'], 'Netherlands': ['0.1054', '0.5143', '0.7222'], 'Jamaica': ['0.4129', '0.1098', '0.6160'], 'Oman': ['0.4373', '0.3567', '0.4322'], 'Tanzania': ['0.7353', '0.8983', '0.6334'], 'United States Virgin Islands': ['0.0000', '0.3140', '0.6359'], 'Albania': ['0.2204', '0.0399', '0.4719'], 'Gabon': ['0.7690', '0.7821', '0.6674'], 'Monaco': ['0.6838', '0.7305', '0.3047'], 'New Zealand': ['0.3969', '0.1657', '0.8110'], 'Yemen': ['0.0000', '0.0080', '0.0023'], 'Jersey': ['0.0000', '0.0000', '0.5479'], 'Andorra': ['0.7139', '0.6848', '0.2326'], 'Greenland': ['0.0000', '0.2188', '0.4592'], 'West Bank': ['0.0000', '0.1438', '0.3095'], 'Macau': ['0.0000', '0.2519', '0.5511'], 'Slovak Republic': ['0.2539', '0.2551', '0.5655'], 'United Arab Emirates': ['0.6252', '0.4874', '0.3310'], 'Guam': ['0.0000', '0.7320', '0.4082'], 'India': ['0.4182', '0.8069', '0.3260'], 'Azerbaijan': ['0.2047', '0.2054', '0.4899'], 'Lesotho': ['0.2550', '0.2543', '0.7211'], 'Saint Vincent and the Grenadines': ['0.3066', '0.0175', '0.7028'], 'Kenya': ['0.8588', '0.8860', '0.7765'], 'Tajikistan': ['0.5107', '0.5473', '0.3386'], 'Turkey': ['0.3200', '0.2216', '0.0049'], 'Afghanistan': ['0.7693', '0.6141', '0.2717'], 'Bangladesh': ['0.0454', '0.0925', '0.2090'], 'Mauritania': ['0.6150', '0.3260', '0.0149'], 'Solomon Islands': ['0.1110', '0.5254', '0.6708'], 'Saint Lucia': ['0.1769', '0.3169', '0.3320'], 'Gaza Strip': ['0.0000', '0.0104', '0.0342'], 'San Marino': ['0.2927', '0.0000', '0.1975'], 'Kyrgyzstan': ['0.6752', '0.5949', '0.4470'], 'French Polynesia': ['0.0000', '0.6078', '0.5813'], 'France': ['0.1032', '0.1221', '0.4029'], 'Bermuda': ['0.0000', '0.0000', '0.7112'], 'Somalia': ['0.8117', '0.0326', '0.0028'], 'Peru': ['0.6566', '0.3358', '0.1988'], 'Laos': ['0.5139', '0.6382', '0.5453'], 'Nauru': ['0.5832', '0.6161', '0.6194'], 'Seychelles': ['0.2025', '0.1606', '0.2323'], 'Norway': ['0.0586', '0.0673', '0.2048'], 'Malawi': ['0.6744', '0.6023', '0.8192'], 'Benin': ['0.7872', '0.7905', '0.5544'], 'Cuba': ['0.5908', '0.0000', '0.5059'], 'Saint Kitts and Nevis': ['0.1842', '0.0000', '0.6614'], 'Togo': ['0.7099', '0.8980', '0.6596'], 'China': ['0.1538', '0.1327', '0.6643'], 'Armenia': ['0.1272', '0.1291', '0.4576'], 'Dominican Republic': ['0.4294', '0.0395', '0.3118'], 'Mongolia': ['0.3682', '0.3734', '0.0799'], 'Ukraine': ['0.4737', '0.4741', '0.6157'], 'Bahrain': ['0.5021', '0.4344', '0.5528'], 'Tonga': ['0.0869', '0.3782', '0.6214'], 'Indonesia': ['0.7351', '0.7680', '0.2340'], 'Libya': ['0.7920', '0.0758', '0.0570'], 'Finland': ['0.1315', '0.1412', '0.2531'], 'Central African Republic': ['0.8295', '0.8334', '0.7916'], 'Mauritius': ['0.4634', '0.4547', '0.6385'], 'Liechtenstein': ['0.5726', '0.2246', '0.3343'], 'Belarus': ['0.3222', '0.4666', '0.6116'], 'Mali': ['0.6906', '0.8388', '0.1820'], 'Bulgaria': ['0.4021', '0.3031', '0.5965'], 'United States': ['0.4901', '0.5647', '0.8241'], 'Romania': ['0.3069', '0.1723', '0.2373'], 'Angola': ['0.7867', '0.7870', '0.6276'], 'Chad': ['0.8620', '0.8635', '0.6411'], 'South Africa': ['0.7517', '0.8652', '0.8603'], 'Fiji': ['0.5479', '0.5479', '0.5682'], 'Sweden': ['0.0600', '0.1968', '0.2342'], 'Qatar': ['0.7456', '0.4800', '0.0950'], 'Malaysia': ['0.5880', '0.5970', '0.6657'], 'Austria': ['0.1068', '0.1522', '0.4146'], 'Vietnam': ['0.2383', '0.2377', '0.5080'], 'Mozambique': ['0.6932', '0.8125', '0.6759'], 'Uganda': ['0.9302', '0.9227', '0.6332'], 'Hungary': ['0.1522', '0.0297', '0.5244'], 'Niger': ['0.6518', '0.6519', '0.2013'], 'Isle of Man': ['0.0000', '0.0000', '0.4729'], 'Brazil': ['0.5408', '0.0468', '0.6054'], 'Faroe Islands': ['0.0000', '0.0000', '0.3147'], 'Guinea': ['0.7389', '0.7725', '0.2649'], 'Panama': ['0.5528', '0.3873', '0.3338'], 'Costa Rica': ['0.2368', '0.0489', '0.2410'], 'Luxembourg': ['0.5302', '0.6440', '0.0911'], 'American Samoa': ['0.0000', '0.1733', '0.6395'], 'Bahamas': ['0.4228', '0.1855', '0.6815'], 'Ivory Coast': ['0.8204', '0.7842', '0.7551'], 'Pakistan': ['0.7098', '0.7190', '0.3848'], 'Palau': ['0.4312', '0.3157', '0.7147'], 'Nigeria': ['0.8505', '0.8316', '0.7421'], 'Ecuador': ['0.6550', '0.1308', '0.1417'], 'Czech Republic': ['0.3222', '0.3233', '0.6591'], 'Brunei': ['0.5416', '0.3438', '0.4404'], 'Australia': ['0.0929', '0.3349', '0.8211'], 'Iran': ['0.6684', '0.7462', '0.1152'], 'Algeria': ['0.3394', '0.4427', '0.0091'], 'El Salvador': ['0.1978', '0.0000', '0.3559'], 'Tuvalu': ['0.1629', '0.1372', '0.2524'], 'Marshall Islands': ['0.0603', '0.0734', '0.5207'], 'Chile': ['0.1861', '0.1871', '0.3841'], 'Puerto Rico': ['0.0000', '0.0352', '0.4952'], 'Belgium': ['0.5554', '0.5409', '0.2127'], 'Kiribati': ['0.0511', '0.0237', '0.5541'], 'Haiti': ['0.0950', '0.0000', '0.4704'], 'Belize': ['0.7015', '0.6303', '0.5813'], 'Hong Kong': ['0.0620', '0.2128', '0.4191'], 'Sierra Leone': ['0.8191', '0.7634', '0.5395'], 'Georgia': ['0.4923', '0.4749', '0.6543'], 'Denmark': ['0.0819', '0.1049', '0.2333'], 'Philippines': ['0.2385', '0.8360', '0.3056'], 'Moldova': ['0.5535', '0.5533', '0.5603'], 'Morocco': ['0.4841', '0.4683', '0.0035'], 'Croatia': ['0.3690', '0.0763', '0.4447'], 'Micronesia': ['0.7005', '0.7483', '0.6469'], 'Guinea-Bissau': ['0.8082', '0.8141', '0.6128'], 'Thailand': ['0.6338', '0.6344', '0.0994'], 'Namibia': ['0.6329', '0.7005', '0.6626'], 'Grenada': ['0.2661', '0.0000', '0.5898'], 'Korea, North': ['0.0020', '0.0021', '0.6604'], 'Iraq': ['0.3689', '0.3694', '0.4844'], 'Portugal': ['0.0468', '0.0198', '0.1438'], 'Estonia': ['0.5062', '0.4944', '0.4985'], 'Uruguay': ['0.2504', '0.0817', '0.3548'], 'Mexico': ['0.5418', '0.1511', '0.1796'], 'Lebanon': ['0.1314', '0.1312', '0.7886'], 'Korea, South': ['0.0392', '0.0028', '0.4891'], 'Uzbekistan': ['0.4125', '0.4120', '0.2133'], 'Tunisia': ['0.0394', '0.0124', '0.0104'], 'Djibouti': ['0.7962', '0.6558', '0.0435'], 'Rwanda': ['0.3238', '0.0000', '0.5066'], 'Antigua and Barbuda': ['0.1643', '0.1063', '0.6840'], 'Spain': ['0.4165', '0.4132', '0.4514'], 'Colombia': ['0.6014', '0.0193', '0.1478'], 'Reunion': ['0.0000', '0.1578', '0.1952'], 'Burundi': ['0.2951', '0.2977', '0.5158'], 'Taiwan': ['0.2744', '0.5028', '0.6845'], 'Cyprus': ['0.0939', '0.3962', '0.3962'], 'Barbados': ['0.1423', '0.0926', '0.6934'], 'Madagascar': ['0.8791', '0.0204', '0.5191'], 'Italy': ['0.1145', '0.1147', '0.3027'], 'Bhutan': ['0.6050', '0.6056', '0.3787'], 'Sudan': ['0.7147', '0.7190', '0.4307'], 'Nepal': ['0.6632', '0.7167', '0.1417'], 'Malta': ['0.0414', '0.0907', '0.1223'], 'Suriname': ['0.7332', '0.3310', '0.7910'], 'Venezuela': ['0.4966', '0.0686', '0.1350'], 'Netherlands Antilles': ['0.0000', '0.2508', '0.3866'], 'Israel': ['0.3436', '0.5525', '0.3469'], 'Iceland': ['0.0798', '0.0820', '0.1913'], 'Zambia': ['0.7808', '0.8734', '0.7359'], 'Senegal': ['0.6939', '0.7081', '0.1497'], 'Papua New Guinea': ['0.2718', '0.3526', '0.5523'], 'Trinidad and Tobago': ['0.6475', '0.1251', '0.7936'], 'Congo': ['0.8747', '0.6871', '0.6642'], 'Germany': ['0.1682', '0.1642', '0.6571'], 'Vanuatu': ['0.0413', '0.5794', '0.7044'], 'Western Samoa': ['0.1376', '0.0111', '0.7871'], 'Martinique': ['0.0000', '0.0000', '0.2336'], 'Kazakhstan': ['0.6171', '0.6621', '0.5898'], 'Poland': ['0.1183', '0.0468', '0.1712'], 'Eritrea': ['0.6524', '0.6530', '0.4253'], 'Ireland': ['0.1206', '0.0312', '0.1550'], 'Mayotte': ['0.0000', '0.7212', '0.0620'], 'New Caledonia': ['0.0000', '0.6633', '0.5462'], 'Macedonia': ['0.5023', '0.5021', '0.5899'], 'Sri Lanka': ['0.4150', '0.4645', '0.4853'], 'Latvia': ['0.5867', '0.5795', '0.5556'], 'Guyana': ['0.6195', '0.0688', '0.7876'], 'Syria': ['0.5399', '0.1817', '0.4310'], 'Guadeloupe': ['0.0000', '0.0933', '0.3069'], 'Burma': ['0.5062', '0.5072', '0.1974'], 'Honduras': ['0.1867', '0.0553', '0.2357'], 'Equatorial Guinea': ['0.3467', '0.3220', '0.1195'], 'Egypt': ['0.1836', '0.0237', '0.1979'], 'Nicaragua': ['0.4844', '0.0473', '0.4290'], 'Singapore': ['0.3857', '0.3835', '0.6561'], 'Serbia': ['0.5736', '0.0000', '0.0000'], 'Botswana': ['0.4102', '0.4110', '0.5986'], 'United Kingdom': ['0.1211', '0.0532', '0.6944'], 'Gambia, The': ['0.7864', '0.8076', '0.0970'], 'Yugoslavia': ['0.8092', '0.6064', '0.5530'], 'Greece': ['0.1576', '0.0300', '0.1530'], 'Paraguay': ['0.1689', '0.5975', '0.2123'], 'French Guiana': ['0.0000', '0.1154', '0.4959'], 'Comoros': ['0.0000', '0.0103', '0.0137']}

In [141]:
DF["country"].tolist()

['Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 ...]

In [144]:
def get_diversity(country, diversity):
    for count, ethnic in myNewDict.items:
        #for i in DF["country"].tolist():
        if count == country:
            return ethnic[0]
DF["ethnic"] = DF.country.apply( lambda country: get_diversity(country, diversity) )

TypeError: 'builtin_function_or_method' object is not iterable